<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knepe.megamemory"
    android:versionCode="12"
    android:versionName="2.2"
    android:installLocation="preferExternal" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
   	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.gms.games.APP_ID"
                   android:value="@string/app_id" />
        
        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <!-- APPFLOOD -->
        <activity
                android:name="com.appflood.AFPanelActivity"
                android:configChanges="keyboardHidden|orientation"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Translucent"/>

        <!-- Defining the ScoreloopCore activities -->
        <activity android:name="com.scoreloop.client.android.core.ui.ProxyActivity"
                    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize"/>
        <!-- Note: you may need to add more entries here for the payment methods you want to use. -->

        <!-- Defining the ScoreloopUI activities -->
        <activity android:name="com.scoreloop.client.android.ui.PostScoreOverlayActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.BuddiesScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity android:name="com.scoreloop.client.android.ui.SocialMarketScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity android:name="com.scoreloop.client.android.ui.ProfileScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity android:name="com.scoreloop.client.android.ui.EntryScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name="com.scoreloop.client.android.ui.ShowResultOverlayActivity"
                  android:theme="@style/sl_dialog"/>

        <activity android:name="com.scoreloop.client.android.ui.component.market.MarketHeaderActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.market.MarketListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.entry.EntryListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.post.PostOverlayActivity"
                  android:theme="@style/sl_dialog"/>
        <activity android:name="com.scoreloop.client.android.ui.component.score.ScoreHeaderActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.score.ScoreListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.user.UserAddBuddyListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.user.UserHeaderActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.user.UserDetailListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.user.UserListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailHeaderActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.game.GameListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsPictureListActivity"/>
        <activity android:name="com.scoreloop.client.android.ui.LeaderboardsScreenActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity android:name="com.scoreloop.client.android.ui.framework.ScreenActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name="com.scoreloop.client.android.ui.framework.TabsActivity"/>
    </application>
</manifest>